body {
	background: #e14f43;
	padding-top:40px;
	color:#fff;
	font-family:'Gloria Hallelujah', cursive;
}

.main {
	width:600px;
	max-width:100%;
	margin:0 auto;
	background:rgba(0,0,0,0.05);
	padding-bottom:20px;
	border-radius:5px;
	overflow: hidden;
}

a,
a:link,
a:visited,
a:hover,
a:active { 
	color: #fff;
	text-decoration: none;
}

a:hover {
	font-weight: bolder;
}

.abstract {
	font-family:'Merriweather', serif;
	color:#fff;
	text-align:left;
	background: #e14f43;
	border-width: 0;
}

.b {
	font-size: 70px;
}
.text-center{
	text-align:center;
}

.logo{
	margin:0 auto;
}

#contact-form{
	width:400px;
	max-width:100%;
	margin:0 auto;
	
}

.form-control {
	color: #62c462;
}


.btn [class*=icon]{
	margin-right:15px;
}

footer {
    padding: 20px 0;
}

p.copyright {
    margin: 10px 0 0 0;
}

.text-muted {	
	color: rgba(255, 255, 255, 0.25);
}
