language: python
python:
- '3.6'
- '3.7'
- '3.8'
- '3.9'
notifications:
  email:
  - yoav@yoavram.com
install:
- sudo apt-get update
- if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh
  -O miniconda.sh; else wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
  -O miniconda.sh; fi
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH=$HOME/miniconda/bin:$PATH
- hash -r
- conda config --add channels conda-forge
- conda config --set always_yes yes --set changeps1 no
- conda config --set anaconda_upload no
- conda update -q conda pip
- conda info -a
- conda create -q -n travis-env python=$TRAVIS_PYTHON_VERSION requests numpy scipy matplotlib pandas scikit-learn
  lxml seaborn sympy xlrd=1 lmfit coverage nose pillow webcolors wheel twine setuptools
- source activate travis-env
- python -m pip install codecov | cat
- python setup.py install
script:
- curveball --version
- nosetests tests --with-coverage --cover-package=curveball
after_success:
- codecov --token=$CODECOV_TOKEN
