# This file is part of curveball.
# https://github.com/yoavram/curveball

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2015, Yoav Ram <yoav@yoavram.com>

# This file is modified from https://gist.github.com/dan-blanchard/7045057
language: python
python:
  - 2.7
  - 3.4
notifications:
  email: 
    - yoav@yoavram.com

# Setup anaconda
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda
  - pip install codecov

# Install packages
install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION requests pip atlas numpy scipy matplotlib dateutil pandas statsmodels lxml seaborn sympy xlrd
  - pip install .[docs,tests]

# Run test
script:  
  - nosetests tests --with-coverage --cover-package=curveball

# Code coverage
after_success:
  - codecov --token=$CODECOV_TOKEN

# Build docs
before_deploy:
  - cd docs 
  - make html
  - cd ..

deploy:
# Deploy docs to divshot
  - provider: divshot
    api_key:
      secure: ou0wBUsGCDzlA5oOmGGlLqiECV2SyCBsfU1e2j+FzVermDrowhNCNdVk9TVeO6lvIzc2F8R40sMk/SOjaAdT/A9+CRNgFdOJcTTbW1bWRBhU4EEaW9TLYXp0gkHS9xhHG+3xHF1Ox5tIQt912OUnhxnWIuOUEecUMvObScg7bdE0KNHdhyFLcC6g+o9Ny/HkZc3czKoKdy+kAjn1/hvP+LrPEEQoVWPsuYVnPHn7U1ERE/LBxH8zEdFWAYlFz4nqEda/cOfYcvr4Ua5ye8iSuA3c8OHv/Hsgkj2Fx9eCh4DnTPmij87Bq9wEvFqcMsJz0VvL0ecxKZ8GF2nUTsFVsXEl/hublpFaJwWKJFLcKdkNozRsjaICM1zWp4949tkc6U8dEYb/iZdZc6eRX2RD7eNWRFYZEWNYFRZ6ESQpAnD10CZGcBlLBZzsrw6W8/9G57+kQB3aT9ceCqhoqq8vF+VXDo1NJE5MpMQVpPOT+x7DDGot6gaXCxteCSySIcZLLnXwPZouhZeZqFrpnciDkhjnIkViKsQ9VXXGyr7YqhrERx2Z7rH00c+668BwgBmo8US99VGQiCR/FoUJ37vw2LYpxWv8+U0Mzor5pGinwq8X3yjynh/Bcz5PfBJ/s0UVyXl79eQZw62WbFi6ymudIDvMittLJ2vEGhshYNprzEc=
    environment: production
    on:
      repo: yoavram/curveball
      branch: master
    skip_cleanup: true

# Deploy package to PyPi
  - provider: pypi
    user: yoavram
    password:
      secure: tnLc3jwANjMK+IAWEhdD2vpIzcRm5TdrK/xykh4uIovCumKTNlEUK9LrsahMxgVOkmnC4ci2phIPz1udZkHq+ICzZ8C6IlaYvhAbrKbU5FxrSbmxBdu8tilxXIMn1pmzG4yqrgdl1GQ4X/IRqYhX71O2bEUpHXlXztTLC/WSKA7onmIHFn1oCmAGq32wo2KzSRPDgkkZfDyVZshB2mTluNdXsBuImvokEU3ubNunTF7y4jSrzAwbEHgcRHyTzGDJXlnhcrWz/a+0Lttt2HmlsQpJX6GltCDnX/V8us23wj38P5e2u0D0dJ7ND3k99GY2NCkUxGXp4prikdrGdJLWdZQJ2p3Io6z9KhSQsirQPmLAry/MBbZHIvS1q8Bq4jqdCukdtXbVfkAgWOtvqsV+C5x0FtCIx0+1PTgKgvwcQwqCtGMuIhDsu65/niGGaETNxQ6/Dab1mgtT634BdPjKed4daA1evM5cQBnGt/eh62SnW5CQBpykN6w9xj4TtywTTvv8TIyr9h7geaxIT5IHWBfTWzh5IYRpj3ic41gykv8SFidpjZcxyAABOjtXtABhGVBSd8OENJEyM5y4KQhpj/Q/CdZYBoDNEf/u1UBKwhJkU1xXjWNrlqhvBZgSwqTcY4sLMdDM37FNtDEjhXtFvfb2NfBsW0IOlzwXTasdhjU=
    on:
      tags: true
      repo: yoavram/curveball
      branch: master
    server: https://testpypi.python.org/pypi
    skip_cleanup: true
