include setup.py setup.cfg README.md LICENCE.txt MANIFEST.in PKG-INFO CHANGELOG.md requirements.txt
exclude *.pyc .* divshot.json Makefile tox.ini
recursive-include curveball *.py
recursive-include curveball/scripts *.py
recursive-include tests *.py
recursive-include examples *.py
recursive-exclude curveball *.pyc
recursive-exclude curveball/scripts *.pyc
recursive-exclude tests *.pyc
recursive-exclude examples *.pyc
recursive-include plate_templates *
recursive-include data *
include versioneer.py
include curveball/_version.py
