alabaster==0.7.6
astroid==1.3.8
autodoc==0.3
Babel==2.1.1
beautifulsoup4==4.4.1
bumpversion==0.5.3
click==5.1
colorama==0.3.3
coverage==4.0
-e git+git@gitlab.com:yoavram/curveball.git@11301d559ec86e3ea8bf420c7c6eec51e6a9e410#egg=curveball-master
decorator==4.0.4
docutils==0.12
fastcache==1.0.2
future==0.15.2
Jinja2==2.8
lmfit==0.9.0
logilab-common==1.0.2
lxml==3.4.4
MarkupSafe==0.23
matplotlib==1.4.3
nose==1.3.7
nose-notify-send==0.2.1
numpy==1.9.3
pandas==0.16.2
patsy==0.4.0
Pillow==2.9.0
Pygments==2.0.2
pylint==1.4.4
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.6
requests==2.7.0
scipy==0.16.0
seaborn==0.6.0
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
statsmodels==0.6.1
sympy==0.7.6.1
waitress==0.8.10
WebOb==1.4.1
WebTest==2.0.18
wheel==0.26.0
xlrd==0.9.4
