alabaster==0.7.6
Babel==2.1.1
click==5.1
colorama==0.3.3
coverage==4.0
curveball==0.1.8
docutils==0.12
fastcache==1.0.2
future==0.15.2
Jinja2==2.8
lmfit==0.9.0
lxml==3.4.4
MarkupSafe==0.23
matplotlib==1.4.3
nose==1.3.4
numpy==1.9.3
pandas==0.16.2
patsy==0.4.0
Pillow==3.0.0
Pygments==2.0.2
pyparsing==2.0.3
python-dateutil==2.4.1
pytz==2015.6
requests==2.8.0
scipy==0.16.0
seaborn==0.6.0
six==1.10.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
statsmodels==0.6.1
sympy==0.7.6.1
versioneer==0.15
wheel==0.26.0
xlrd==0.9.4
